In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

In [3]:
start_date = date(2020,12,31) #date in Year, Month, Day
end_date = date(2021,1,2)

In [4]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [5]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [7]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [15]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close"])
    nifty50 = pd.concat([nifty50,x],axis = 1)
                                                       #getting each stock data one by one and concatanating it into the 'allData' frame

In [16]:
nifty50.columns=nifty_50_stocks

ValueError: Length mismatch: Expected axis has 96 elements, new values have 24 elements

In [17]:
nifty50.to_csv(str(start_date)+'.csv')  #saving the data without preprocessing

In [18]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,Date,Adj Close,Date,Adj Close,Date,Adj Close,Date,Adj Close,Date,Adj Close
0,2747.637451,5286.657715,8904.190430,3505.115967,3826.215332,925.379639,911.391052,1430.110474,238.897308,2363.666748,...,2020-12-31,629.561462,2020-12-31,938.412354,2020-12-31,1563.399536,2020-12-31,5262.469727,2020-12-31,384.757141
1,2758.620117,5271.631836,8868.299805,3496.736084,3833.336182,930.914917,915.581360,1418.909058,236.712418,2355.920898,...,2021-01-01,629.023438,2021-01-01,942.992554,2021-01-01,1554.869995,2021-01-01,5265.106934,2021-01-01,386.600006

In [16]:
nifty50.isnull().sum()

ADANIPORTS      0
ASIANPAINT      0
AXISBANK        0
BAJAJ-AUTO      0
BAJFINANCE      0
BAJAJFINSV      0
BPCL            0
BHARTIARTL      0
BRITANNIA       0
CIPLA           0
COALINDIA       0
DIVISLAB        0
DRREDDY         0
EICHERMOT       0
GRASIM          0
HCLTECH         0
HDFCBANK        0
HDFCLIFE      464
HEROMOTOCO      0
HINDALCO        0
HINDUNILVR      0
HDFC            0
ICICIBANK       0
ITC             0
IOC             0
INDUSINDBK      0
INFY            0
JSWSTEEL        0
KOTAKBANK       0
LT              0
M&M             0
MARUTI          0
NTPC            0
NESTLEIND       0
ONGC            0
POWERGRID       0
RELIANCE        0
SBILIFE       432
SHREECEM        0
SBIN            0
SUNPHARMA       0
TCS             0
TATACONSUM      0
TATAMOTORS      0
TATASTEEL       0
TECHM           0
TITAN           0
UPL             0
ULTRACEMCO      0
WIPRO           0
dtype: int64

## Filter 1
### dropping the stock/asset which has more than 2 null value otherwise filling the null values with adjacent value of day before

In [17]:
#filling the null values with forward fill and backward fill methods
for i in nifty50.columns.to_list():
    if nifty50[i].isnull().sum()>2:
        nifty50.drop(i,axis=1,inplace=True)
    else:
        nifty50[i].fillna(method='bfill',axis=0,inplace=True)
        nifty50[i].fillna(method='ffill',axis=0,inplace=True)

In [18]:
nifty50.isnull().sum()

ADANIPORTS    0
ASIANPAINT    0
AXISBANK      0
BAJAJ-AUTO    0
BAJFINANCE    0
BAJAJFINSV    0
BPCL          0
BHARTIARTL    0
BRITANNIA     0
CIPLA         0
COALINDIA     0
DIVISLAB      0
DRREDDY       0
EICHERMOT     0
GRASIM        0
HCLTECH       0
HDFCBANK      0
HEROMOTOCO    0
HINDALCO      0
HINDUNILVR    0
HDFC          0
ICICIBANK     0
ITC           0
IOC           0
INDUSINDBK    0
INFY          0
JSWSTEEL      0
KOTAKBANK     0
LT            0
M&M           0
MARUTI        0
NTPC          0
NESTLEIND     0
ONGC          0
POWERGRID     0
RELIANCE      0
SHREECEM      0
SBIN          0
SUNPHARMA     0
TCS           0
TATACONSUM    0
TATAMOTORS    0
TATASTEEL     0
TECHM         0
TITAN         0
UPL           0
ULTRACEMCO    0
WIPRO         0
dtype: int64

In [19]:
stocks=nifty50.columns.to_list()

In [20]:
Date = pd.read_csv(stocks[8]+'.csv', usecols=["Date"]) #get dates from any stock csv file  
nifty50 = pd.concat([nifty50,Date],axis = 1)#concatenate dates to the current dataframe
nifty50.set_index('Date',inplace = True) #set dates as index in the current dataframe

In [21]:
nifty50.to_csv("n50_filter1.csv")

In [22]:
df=pd.read_csv("n50_filter1.csv",parse_dates=['Date'],index_col='Date')
d=pd.read_csv('n50_filter1.csv',parse_dates=['Date'],index_col='Date')
d=d.loc["2016-01-01":"2022-3-15"]

In [23]:
def number_of_years(y):        #calculates the number of years of the dataset
  p=y.index[0]                 #date of first row in the dataset (datetime format)
  q=y.index[len(y)-1]          #date of last row in the dataset  (datetime format)
  return ((q-p).days+1)/365    #the difference give the number of total days (not trading days) over the total number of years in the dataset

In [24]:
trading_days=len(d)/number_of_years(d)                       #Trading days per year (automated)
d.reset_index(drop=True, inplace=True)

In [25]:
returns=d.pct_change()
returns.fillna(0,inplace=True)
#getting the returns as percentage change

In [26]:
mean_return=returns.mean()*trading_days

In [29]:
niftyindx = pd.read_csv('n50_1jan2016-1_mar_2022.csv',usecols=['Adj Close','Date'],parse_dates=['Date'],index_col='Date')
niftyindx = niftyindx.loc["2016-01-01" : "2021-3-1"]
niftyindx.reset_index(drop=True, inplace=True)

In [30]:
niftyindx['Adj Close'].fillna(method='bfill',axis=0,inplace=True)
niftyindx['Adj Close'].fillna(method='ffill',axis=0,inplace=True)

In [31]:
niftyindx_return = niftyindx.pct_change() 
niftyindx_return.fillna(0,inplace=True)
mean_niftyindx_return=niftyindx_return.mean()[0]*trading_days        #getting the annual mean returns of nifty50 index

In [32]:
def rempos(x):  #mark positive values as 0 because semideviation only has negative returns
  for i in range(0,len(x)):
    if x['Adj Close'][i]>0:
      x['Adj Close'][i]=0
  return x
def rempo(x):
  for i in range(0,len(x)):
    if x[i]>0:
      x[i]=0
  return x

In [33]:
drisk_niftyindx=rempos(niftyindx_return.copy()).std()[0]*trading_days  
#downside risk i.e., semi-deviation of nifty50 index

In [34]:
risk_free_rate = 0.0426                   #initializing risk free rate that will be used in calculating both the ratios (absolute value)
#referred from url: https://www.rbi.org.in/Scripts/BS_NSDPDisplay.aspx?param=4&Id=24292
#In the above url, the 364 (1 year => 01-01-2021) day treasury bill is 4.26% , when taken absolute value => 0.0426
# (improved)

In [35]:
def ratio(a,b,c):#function to calculate ratio i.e. "(returns-(risk_free_rate))/deviation"
  return (a-c)/b  #a => annual return, c => risk_free_rate, b => deviation (standard for sharpe, semi for sortino)

In [36]:
sortino_niftyindx=ratio(mean_niftyindx_return,drisk_niftyindx,risk_free_rate)      #getting the sortino ratio of nifty50 index

## Filter 2
### Nifty50 index Sortino ratio is compared with each assets sortino ratio
### if asset's srotino ratio is less than nifty index sortino ratio the asset is dropped

In [37]:
for i in returns.columns.to_list(): #for every remaining stock in the data
  ret=returns[i].mean()*trading_days  #get the annual mean return
  drisk=rempo(returns[i].copy()).std()*trading_days #get the semideviation
  sortino=ratio(ret,drisk,risk_free_rate)   #get the sortiono ratio
  if sortino < sortino_niftyindx:  #compare it with nifty50 index's sortino ratio
    returns.drop(labels=[i],axis=1,inplace=True)    #if less, drop it
    d.drop(labels=[i],axis=1,inplace=True)
    df.drop(labels=[i],axis=1,inplace=True)

In [38]:
d

,ADANIPORTS,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
0,259.295471,845.420410,601.376648,1978.063843,1374.428467,1103.977539,563.788391,376.525452,526.229187,81.983368,...,5280.468262,81.026642,484.996399,1075.699585,135.227524,215.094711,444.897186,340.026642,2772.252930,202.645721
1,249.991714,847.392761,597.095032,1953.834106,1368.077393,1091.821899,547.253784,376.570099,517.408264,77.975937,...,5175.181641,80.997917,475.419220,1054.865601,132.733597,214.676880,441.774689,339.398804,2698.774170,203.100952
2,247.811096,866.489868,591.708496,1940.373169,1365.361816,1089.732910,547.530579,375.167847,513.493286,79.762390,...,5168.426758,79.963547,480.124207,1045.672852,137.028732,229.217102,446.479828,335.825165,2682.969727,202.809601
3,244.031418,852.780273,602.501221,1932.944580,1381.469849,1079.951294,546.527954,374.544586,515.765015,77.782806,...,5220.546387,80.164650,493.045013,1060.207764,134.165314,224.579269,449.217407,335.970093,2685.178223,202.154099
4,237.441208,839.263123,602.407593,1921.477783,1356.088135,1070.217407,532.282776,367.266479,510.496613,74.016792,...,5147.023438,79.360138,483.993256,1055.600220,129.362152,208.827377,436.983917,332.299805,2618.816895,200.242157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,705.549988,3227.149902,7011.350098,16189.450195,3489.750000,4224.799805,1684.150024,1149.550049,1510.699951,516.200012,...,18111.000000,198.149994,2389.000000,3586.399902,715.200012,1138.699951,1412.550049,2450.100098,6749.549805,564.150024
1518,706.700012,3237.199951,7044.549805,16133.599609,3511.149902,4181.600098,1669.800049,1153.000000,1500.900024,518.700012,...,17926.650391,198.050003,2374.050049,3563.800049,723.250000,1139.000000,1413.300049,2495.699951,6780.200195,567.099976
1519,654.849976,3069.050049,6627.799805,15245.200195,3446.000000,3936.649902,1544.349976,1098.550049,1419.400024,517.650024,...,17744.750000,191.100006,2255.750000,3401.649902,677.700012,1074.000000,1333.000000,2406.600098,6418.450195,537.150024
1520,695.150024,3119.199951,6969.399902,15772.150391,3422.750000,4138.350098,1567.849976,1129.699951,1456.099976,533.900024,...,17715.099609,197.300003,2283.949951,3520.750000,709.500000,1145.349976,1389.699951,2468.449951,6570.250000,555.250000
1521,707.500000,3174.649902,7002.299805,16012.549805,3427.449951,4265.000000,1598.500000,1126.949951,1426.250000,573.750000,...,17639.150391,209.149994,2359.550049,3554.199951,718.599976,1220.750000,1410.000000,2546.550049,6567.899902,555.799988

In [39]:
df

,ADANIPORTS,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,259.295471,845.420410,601.376648,1978.063843,1374.428467,1103.977539,563.788391,376.525452,526.229187,81.983368,...,5280.468262,81.026642,484.996399,1075.699585,135.227524,215.094711,444.897186,340.026642,2772.252930,202.645721
2016-01-04,249.991714,847.392761,597.095032,1953.834106,1368.077393,1091.821899,547.253784,376.570099,517.408264,77.975937,...,5175.181641,80.997917,475.419220,1054.865601,132.733597,214.676880,441.774689,339.398804,2698.774170,203.100952
2016-01-05,247.811096,866.489868,591.708496,1940.373169,1365.361816,1089.732910,547.530579,375.167847,513.493286,79.762390,...,5168.426758,79.963547,480.124207,1045.672852,137.028732,229.217102,446.479828,335.825165,2682.969727,202.809601
2016-01-06,244.031418,852.780273,602.501221,1932.944580,1381.469849,1079.951294,546.527954,374.544586,515.765015,77.782806,...,5220.546387,80.164650,493.045013,1060.207764,134.165314,224.579269,449.217407,335.970093,2685.178223,202.154099
2016-01-07,237.441208,839.263123,602.407593,1921.477783,1356.088135,1070.217407,532.282776,367.266479,510.496613,74.016792,...,5147.023438,79.360138,483.993256,1055.600220,129.362152,208.827377,436.983917,332.299805,2618.816895,200.242157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-22,705.549988,3227.149902,7011.350098,16189.450195,3489.750000,4224.799805,1684.150024,1149.550049,1510.699951,516.200012,...,18111.000000,198.149994,2389.000000,3586.399902,715.200012,1138.699951,1412.550049,2450.100098,6749.549805,564.150024
2022-02-23,706.700012,3237.199951,7044.549805,16133.599609,3511.149902,4181.600098,1669.800049,1153.000000,1500.900024,518.700012,...,17926.650391,198.050003,2374.050049,3563.800049,723.250000,1139.000000,1413.300049,2495.699951,6780.200195,567.099976
2022-02-24,654.849976,3069.050049,6627.799805,15245.200195,3446.000000,3936.649902,1544.349976,1098.550049,1419.400024,517.650024,...,17744.750000,191.100006,2255.750000,3401.649902,677.700012,1074.000000,1333.000000,2406.600098,6418.450195,537.150024
2022-02-25,695.150024,3119.199951,6969.399902,15772.150391,3422.750000,4138.350098,1567.849976,1129.699951,1456.099976,533.900024,...,17715.099609,197.300003,2283.949951,3520.750000,709.500000,1145.349976,1389.699951,2468.449951,6570.250000,555.250000
2022-02-28,707.500000,3174.649902,7002.299805,16012.549805,3427.449951,4265.000000,1598.500000,1126.949951,1426.250000,573.750000,...,17639.150391,209.149994,2359.550049,3554.199951,718.599976,1220.750000,1410.000000,2546.550049,6567.899902,555.799988

In [41]:
df.to_csv("n50_filtered_1_march.csv")