In [1]:
import pandas as pd
import numpy as np
from datetime import date,timedelta

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

# Change the dates here carefully

In [3]:
start_date = date(2021,1,9)
#date in Year, Month, Day
end_date = date(2021,1,14)

In [4]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [5]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [6]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close","Date"],index_col="Date")
    nifty50 = pd.concat([nifty50,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [8]:
nifty50.columns=nifty_50_stocks

In [9]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,2831.920166,4976.208984,8983.920898,3540.888916,3806.794922,1001.626099,1016.338562,1445.195190,262.881378,2396.920410,...,18184.318359,141.227982,1891.166260,3136.572998,625.375549,680.423279,1039.080566,1560.157349,5596.390625,445.073120
2021-01-12,2703.955566,5034.065918,8956.828125,3559.314209,3752.119141,1007.610168,1023.081421,1474.617798,262.533783,2344.424805,...,17796.388672,141.332047,1950.774536,3134.993408,620.702576,679.689697,1026.159424,1523.445312,5611.616211,455.931000
2021-01-13,2687.208252,4894.990234,8791.518555,3549.023438,3704.215332,1030.598755,1017.157349,1464.312500,260.845459,2340.922119,...,17816.361328,142.234024,1932.583130,3119.292725,616.825134,693.627747,1031.414673,1502.196411,5623.309082,457.225983
2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nifty50_open=pd.DataFrame()
nifty50_open

Empty DataFrame
Columns: []
Index: []

In [11]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Open","Date"],index_col="Date")
    nifty50_open = pd.concat([nifty50_open,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [12]:
nifty50_open.columns=nifty_50_stocks

In [13]:
nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,2845.000000,5108.00,9201.000000,3603.800049,3884.899902,999.349976,1015.0,1450.000000,267.600006,2425.000000,...,18350.000000,153.000031,1938.800049,3230.000000,613.000000,712.000000,1062.099976,1560.0,5550.000000,436.000000
2021-01-12,2849.600098,4984.25,9004.000000,3624.000000,3822.949951,1005.799988,1052.0,1452.449951,260.450012,2429.800049,...,18410.000000,150.787537,1903.000000,3176.449951,632.599976,695.000000,1077.599976,1560.0,5624.799805,447.950012
2021-01-13,2760.000000,5066.00,9004.799805,3640.000000,3788.500000,1009.000000,1064.0,1492.900024,265.500000,2381.899902,...,18039.949219,152.850037,1963.550049,3175.000000,626.799988,701.450012,1074.000000,1530.0,5650.000000,461.000000
2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nifty50-nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,-13.079834,-131.791016,-217.079102,-62.911133,-78.104980,2.276123,1.338562,-4.804810,-4.718628,-28.079590,...,-165.681641,-11.772049,-47.633789,-93.427002,12.375549,-31.576721,-23.019409,0.157349,46.390625,9.073120
2021-01-12,-145.644531,49.815918,-47.171875,-64.685791,-70.830811,1.810181,-28.918579,22.167847,2.083771,-85.375244,...,-613.611328,-9.455490,47.774536,-41.456543,-11.897400,-15.310303,-51.440552,-36.554688,-13.183594,7.980988
2021-01-13,-72.791748,-171.009766,-213.281250,-90.976562,-84.284668,21.598755,-46.842651,-28.587524,-4.654541,-40.977783,...,-223.587891,-10.616013,-30.966919,-55.707275,-9.974854,-7.822266,-42.585327,-27.803589,-26.690918,-3.774017
2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
nifty50_final=(nifty50-nifty50_open)/nifty50_open

In [16]:
nifty50_final

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-11,-0.004597,-0.025801,-0.023593,-0.017457,-0.020105,0.002278,0.001319,-0.003314,-0.017633,-0.011579,...,-0.009029,-0.076941,-0.024569,-0.028925,0.020188,-0.044349,-0.021673,0.000101,0.008359,0.020810
2021-01-12,-0.051111,0.009995,-0.005239,-0.017849,-0.018528,0.001800,-0.027489,0.015262,0.008001,-0.035137,...,-0.033330,-0.062707,0.025105,-0.013051,-0.018807,-0.022029,-0.047736,-0.023432,-0.002344,0.017817
2021-01-13,-0.026374,-0.033756,-0.023685,-0.024994,-0.022248,0.021406,-0.044025,-0.019149,-0.017531,-0.017204,...,-0.012394,-0.069454,-0.015771,-0.017546,-0.015914,-0.011152,-0.039651,-0.018172,-0.004724,-0.008187
2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
nifty50_final.to_csv(str(end_date - timedelta(days=1))+'_B.csv')  #saving the data without preprocessing