In [3]:
import pandas as pd
import numpy as np
from datetime import date,timedelta

In [4]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

# Change the dates here carefully

In [5]:
start_date = date(2020,12,30)
#date in Year, Month, Day
end_date = date(2021,1,2)

In [6]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [7]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [8]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [9]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close","Date"],index_col="Date")
    nifty50 = pd.concat([nifty50,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [10]:
nifty50.columns=nifty_50_stocks

In [11]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-30,2717.720947,5325.544434,8959.527344,3512.515381,3784.187744,931.912231,906.141357,1426.326904,235.768936,2374.718506,...,18172.255859,131.965424,1989.101196,2872.777100,590.925171,626.431458,948.103149,1548.884277,5328.746582,382.914276
2020-12-31,2747.637451,5286.657715,8904.190430,3505.115967,3826.215332,925.379639,911.391113,1430.110474,238.897308,2363.666504,...,18183.132812,131.722595,1978.933960,2826.811279,586.500854,629.561462,938.412415,1563.399536,5262.469727,384.757141
2021-01-01,2758.620117,5271.631836,8868.299805,3496.736084,3833.336182,930.914917,915.581299,1418.909058,236.712418,2355.920898,...,18242.900391,131.479752,1981.126831,2891.489014,598.033997,629.023438,942.992554,1554.869995,5265.106934,386.600006

In [12]:
nifty50_open=pd.DataFrame()
nifty50_open

Empty DataFrame
Columns: []
Index: []

In [13]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Open","Date"],index_col="Date")
    nifty50_open = pd.concat([nifty50_open,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [14]:
nifty50_open.columns=nifty_50_stocks

In [15]:
nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-30,2694.000000,5200.500000,9000.0,3602.250000,3790.0,911.099976,938.000000,1439.900024,236.399994,2390.000000,...,18399.500000,142.500031,1995.25,2934.399902,598.799988,632.950012,970.000000,1548.000000,5157.049805,385.000000
2020-12-31,2734.399902,5335.000000,8949.0,3580.649902,3787.0,939.799988,939.049988,1435.000000,236.399994,2396.000000,...,18278.050781,142.875031,1993.50,2900.000000,597.450012,636.549988,981.950012,1549.000000,5374.000000,381.200012
2021-01-01,2759.000000,5310.200195,8930.0,3575.000000,3839.0,924.500000,942.000000,1440.000000,239.000000,2395.399902,...,18389.699219,141.750031,1988.00,2880.000000,593.000000,645.000000,976.000000,1562.099976,5316.899902,385.049988

In [19]:
nifty50-nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-30,23.720947,125.044434,-40.472656,-89.734619,-5.812256,20.812256,-31.858643,-13.573120,-0.631058,-15.281494,...,-227.244141,-10.534607,-6.148804,-61.622803,-7.874817,-6.518555,-21.896851,0.884277,171.696777,-2.085724
2020-12-31,13.237549,-48.342285,-44.809570,-75.533936,39.215332,-14.420349,-27.658875,-4.889526,2.497314,-32.333496,...,-94.917969,-11.152435,-14.566040,-73.188721,-10.949158,-6.988525,-43.537598,14.399536,-111.530273,3.557129
2021-01-01,-0.379883,-38.568359,-61.700195,-78.263916,-5.663818,6.414917,-26.418701,-21.090942,-2.287582,-39.479004,...,-146.798828,-10.270279,-6.873169,11.489014,5.033997,-15.976562,-33.007446,-7.229980,-51.792969,1.550018

In [20]:
nifty50_final=(nifty50-nifty50_open)/nifty50_open

In [21]:
nifty50_final

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-30,0.008805,0.024045,-0.004497,-0.024911,-0.001534,0.022843,-0.033964,-0.009426,-0.002669,-0.006394,...,-0.012351,-0.073927,-0.003082,-0.021000,-0.013151,-0.010299,-0.022574,0.000571,0.033294,-0.005417
2020-12-31,0.004841,-0.009061,-0.005007,-0.021095,0.010355,-0.015344,-0.029454,-0.003407,0.010564,-0.013495,...,-0.005193,-0.078057,-0.007307,-0.025237,-0.018326,-0.010979,-0.044338,0.009296,-0.020754,0.009331
2021-01-01,-0.000138,-0.007263,-0.006909,-0.021892,-0.001475,0.006939,-0.028045,-0.014646,-0.009571,-0.016481,...,-0.007983,-0.072453,-0.003457,0.003989,0.008489,-0.024770,-0.033819,-0.004628,-0.009741,0.004025

In [22]:
nifty50_final.to_csv(str(end_date - timedelta(days=1))+'_B.csv')  #saving the data without preprocessing