In [1]:
import pandas as pd
import numpy as np
from datetime import date,timedelta

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

# Change the dates here carefully

In [3]:
start_date = date(2021,1,7)
#date in Year, Month, Day
end_date = date(2021,1,12)

In [4]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [5]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [6]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close","Date"],index_col="Date")
    nifty50 = pd.concat([nifty50,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [8]:
nifty50.columns=nifty_50_stocks

In [9]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-07,2775.218018,5072.803223,8985.821289,3482.034912,3787.524170,991.203918,927.188599,1410.146851,271.025024,2337.468750,...,17923.146484,136.718124,1905.021729,2994.726562,597.387695,706.978943,959.192017,1538.658813,5371.736816,405.177917
2021-01-08,2827.348145,5073.801270,9169.375977,3504.037598,3843.395020,1001.626099,958.109375,1425.480591,266.357330,2359.522217,...,18100.078125,141.227982,1927.499268,3081.720459,606.037598,697.540222,1013.527771,1544.893921,5564.595703,428.537292
2021-01-11,2831.920166,4976.208984,8983.920898,3540.888916,3806.794922,1001.626099,1016.338501,1445.195190,262.881378,2396.920410,...,18184.318359,141.227982,1891.166260,3136.572998,625.375549,680.423279,1039.080566,1560.157349,5596.390625,445.073090

In [10]:
nifty50_open=pd.DataFrame()
nifty50_open

Empty DataFrame
Columns: []
Index: []

In [11]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Open","Date"],index_col="Date")
    nifty50_open = pd.concat([nifty50_open,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [12]:
nifty50_open.columns=nifty_50_stocks

In [13]:
nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-07,2801.0,5065.0,8820.0,3560.000000,3890.000000,990.000000,988.000000,1432.5,261.450012,2432.0,...,18599.000000,148.500031,1920.500000,3075.0,609.700012,693.0,1005.500000,1570.000000,5475.0,412.25
2021-01-08,2818.0,5130.0,9036.0,3574.000000,3819.000000,999.650024,974.900024,1432.0,273.950012,2390.0,...,18227.300781,149.062531,1918.000000,3090.0,606.799988,727.0,1007.750000,1547.900024,5419.0,407.50
2021-01-11,2845.0,5108.0,9201.0,3603.800049,3884.899902,999.349976,1015.000000,1450.0,267.600006,2425.0,...,18350.000000,153.000031,1938.800049,3230.0,613.000000,712.0,1062.099976,1560.000000,5550.0,436.00

In [14]:
nifty50-nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-07,-25.781982,7.803223,165.821289,-77.965088,-102.47583,1.203918,-60.811401,-22.353149,9.575012,-94.531250,...,-675.853516,-11.781906,-15.478271,-80.273438,-12.312317,13.978943,-46.307983,-31.341187,-103.263184,-7.072083
2021-01-08,9.348145,-56.198730,133.375977,-69.962402,24.39502,1.976074,-16.790649,-6.519409,-7.592682,-30.477783,...,-127.222656,-7.834549,9.499268,-8.279541,-0.762390,-29.459778,5.777771,-3.006104,145.595703,21.037292
2021-01-11,-13.079834,-131.791016,-217.079102,-62.911133,-78.10498,2.276123,1.338501,-4.804810,-4.718628,-28.079590,...,-165.681641,-11.772049,-47.633789,-93.427002,12.375549,-31.576721,-23.019409,0.157349,46.390625,9.073090

In [15]:
nifty50_final=(nifty50-nifty50_open)/nifty50_open

In [16]:
nifty50_final

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-07,-0.009205,0.001541,0.018801,-0.021900,-0.026343,0.001216,-0.061550,-0.015604,0.036623,-0.038870,...,-0.036338,-0.079339,-0.008060,-0.026105,-0.020194,0.020172,-0.046055,-0.019963,-0.018861,-0.017155
2021-01-08,0.003317,-0.010955,0.014761,-0.019575,0.006388,0.001977,-0.017223,-0.004553,-0.027716,-0.012752,...,-0.006980,-0.052559,0.004953,-0.002679,-0.001256,-0.040522,0.005733,-0.001942,0.026868,0.051625
2021-01-11,-0.004597,-0.025801,-0.023593,-0.017457,-0.020105,0.002278,0.001319,-0.003314,-0.017633,-0.011579,...,-0.009029,-0.076941,-0.024569,-0.028925,0.020188,-0.044349,-0.021673,0.000101,0.008359,0.020810

In [17]:
nifty50_final.to_csv(str(end_date - timedelta(days=1))+'_B.csv')  #saving the data without preprocessing