In [27]:
import pandas as pd
import numpy as np
from datetime import date

In [28]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

In [29]:
start_date = date(2017,10,31) #date in Year, Month, Day
end_date = date(2021,10,31)

In [31]:
nifty_50_stocks_list=pd.read_csv('ind_nifty50list.csv')
#use the csv file from nifty website
nifty_50_stocks = list(nifty_50_stocks_list['Symbol']) 
#Choose the stock symbols

## Data collection
### storing all the stocks historical data(2017/oct/31 to 2021/oct/31

In [33]:
k=0
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ADANIPORTS
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 AXISBANK
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BAJAJ-AUTO
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 BPCL
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 BHARTIARTL
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 CIPLA
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 COALINDIA
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 DRREDDY
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 EICHERMOT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 HDFCLIFE
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 HEROMOTOCO
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 HDFC
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 ITC
[*********************100%***********************]  1 of 1 completed
25: stock_name:	 IOC
[*********************100%***********************]  1 of 1 completed
26: stock_name:	 INDUSINDBK
[*********************100%***********************]  1 of 1 completed
27: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
28: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
29: stock_name:	 KOTAKBANK
[*********************100%***********************]  1 of 1 completed
30: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
31: stock_name:	 M&M
[*********************100%***********************]  1 of 1 completed
32: stock_name:	 MARUTI
[*********************100%***********************]  1 of 1 completed
33: stock_name:	 NTPC
[*********************100%***********************]  1 of 1 completed
34: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
35: stock_name:	 ONGC
[*********************100%***********************]  1 of 1 completed
36: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
37: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
38: stock_name:	 SBILIFE
[*********************100%***********************]  1 of 1 completed
39: stock_name:	 SHREECEM
[*********************100%***********************]  1 of 1 completed
40: stock_name:	 SBIN
[*********************100%***********************]  1 of 1 completed
41: stock_name:	 SUNPHARMA
[*********************100%***********************]  1 of 1 completed
42: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
43: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
44: stock_name:	 TATAMOTORS
[*********************100%***********************]  1 of 1 completed
45: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
46: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
47: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
48: stock_name:	 UPL
[*********************100%***********************]  1 of 1 completed
49: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
50: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [34]:
nifty50=pd.DataFrame()

In [35]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close"])
    nifty50 = pd.concat([nifty50,x],axis = 1)
                                                       #getting each stock data one by one and concatanating it into the 'allData' frame

In [37]:
nifty50.columns=nifty_50_stocks

In [38]:
nifty50.to_csv('raw_n50.csv')  #saving the data without preprocessing

In [39]:
nifty50

,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJFINANCE,BAJAJFINSV,BPCL,BHARTIARTL,BRITANNIA,CIPLA,...,SUNPHARMA,TCS,TATACONSUM,TATAMOTORS,TATASTEEL,TECHM,TITAN,UPL,ULTRACEMCO,WIPRO
0,420.343506,1149.532715,522.501099,2887.604248,1787.362427,5003.239746,392.421539,445.502716,2162.516846,615.958130,...,536.602966,1214.886353,219.488174,428.399994,612.093689,427.230255,620.495850,509.711273,4343.025391,217.829819
1,423.029572,1144.762329,534.436279,2872.222412,1793.467285,5015.472656,391.117340,483.046051,2189.434570,615.123901,...,532.526794,1205.094238,220.310242,437.750000,615.137695,432.946747,622.644714,498.710968,4367.942383,217.459427
2,427.083069,1147.147583,531.489990,2873.419434,1796.891968,4975.079590,393.327301,486.719788,2171.442627,624.202393,...,546.841980,1215.881836,218.907913,434.899994,614.094116,414.733795,639.933655,496.957306,4341.150879,217.237183
3,424.738892,1141.355469,539.430054,2852.452148,1823.445312,5025.458008,386.262787,484.972504,2171.186279,628.226196,...,535.001587,1213.080566,217.892426,447.700012,616.529236,410.745575,644.426758,494.597839,4317.417969,218.200226
4,427.376068,1131.523315,533.837036,2845.714355,1808.605103,5002.491211,379.814240,477.177124,2164.171143,642.653625,...,525.247803,1234.123901,226.983368,462.899994,614.702820,408.086700,765.497925,485.861420,4369.374023,222.126404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,752.049988,2914.608398,845.099976,3763.750000,7646.649902,18087.150391,426.694794,691.099976,3631.050049,901.849976,...,813.200012,3492.949951,788.950012,479.899994,1293.300049,1509.080688,2379.149902,695.299988,7149.799805,667.700012
982,749.900024,2966.297363,841.900024,3791.750000,7855.649902,18353.349609,426.052307,696.200012,3692.800049,907.500000,...,813.500000,3482.600098,808.900024,508.649994,1343.650024,1547.894531,2454.750000,713.250000,7269.100098,668.150024
983,745.849976,3091.000000,787.500000,3776.500000,7482.149902,18012.000000,422.741180,702.349976,3697.850098,922.500000,...,825.099976,3489.750000,818.750000,497.899994,1326.150024,1552.399658,2460.100098,741.500000,7354.200195,671.099976
984,688.099976,3116.300049,758.349976,3700.699951,7484.250000,17987.699219,415.921173,689.750000,3681.899902,891.750000,...,807.599976,3421.649902,809.700012,481.049988,1299.599976,1518.190186,2375.149902,729.900024,7446.649902,656.900024
985,693.000000,3100.100098,742.000000,3707.250000,7400.200195,17821.150391,412.857117,685.349976,3675.750000,905.049988,...,795.000000,3397.750000,809.500000,483.700012,1315.949951,1463.286499,2383.550049,740.200012,7636.049805,646.750000

In [41]:
nifty50.isnull().sum()

ADANIPORTS     0
ASIANPAINT     0
AXISBANK       0
BAJAJ-AUTO     0
BAJFINANCE     0
BAJAJFINSV     0
BPCL           0
BHARTIARTL     0
BRITANNIA      0
CIPLA          0
COALINDIA      0
DIVISLAB       0
DRREDDY        0
EICHERMOT      0
GRASIM         0
HCLTECH        0
HDFCBANK       0
HDFCLIFE      13
HEROMOTOCO     0
HINDALCO       0
HINDUNILVR     0
HDFC           0
ICICIBANK      0
ITC            0
IOC            0
INDUSINDBK     0
INFY           0
JSWSTEEL       0
KOTAKBANK      0
LT             0
M&M            0
MARUTI         0
NTPC           0
NESTLEIND      0
ONGC           0
POWERGRID      0
RELIANCE       0
SBILIFE        0
SHREECEM       0
SBIN           0
SUNPHARMA      0
TCS            0
TATACONSUM     0
TATAMOTORS     0
TATASTEEL      0
TECHM          0
TITAN          0
UPL            0
ULTRACEMCO     0
WIPRO          0
dtype: int64

## Filter 1
### dropping the stock/asset which has more than 2 null value otherwise filling the null values with adjacent value of day before

In [42]:
#filling the null values with forward fill and backward fill methods
for i in nifty50.columns.to_list():
    if nifty50[i].isnull().sum()>2:
        nifty50.drop(i,axis=1,inplace=True)
    else:
        nifty50[i].fillna(method='bfill',axis=0,inplace=True)
        nifty50[i].fillna(method='ffill',axis=0,inplace=True)

In [43]:
nifty50.isnull().sum()

ADANIPORTS    0
ASIANPAINT    0
AXISBANK      0
BAJAJ-AUTO    0
BAJFINANCE    0
BAJAJFINSV    0
BPCL          0
BHARTIARTL    0
BRITANNIA     0
CIPLA         0
COALINDIA     0
DIVISLAB      0
DRREDDY       0
EICHERMOT     0
GRASIM        0
HCLTECH       0
HDFCBANK      0
HEROMOTOCO    0
HINDALCO      0
HINDUNILVR    0
HDFC          0
ICICIBANK     0
ITC           0
IOC           0
INDUSINDBK    0
INFY          0
JSWSTEEL      0
KOTAKBANK     0
LT            0
M&M           0
MARUTI        0
NTPC          0
NESTLEIND     0
ONGC          0
POWERGRID     0
RELIANCE      0
SBILIFE       0
SHREECEM      0
SBIN          0
SUNPHARMA     0
TCS           0
TATACONSUM    0
TATAMOTORS    0
TATASTEEL     0
TECHM         0
TITAN         0
UPL           0
ULTRACEMCO    0
WIPRO         0
dtype: int64

In [45]:
stocks=nifty50.columns.to_list()

In [46]:
Date = pd.read_csv(stocks[8]+'.csv', usecols=["Date"]) #get dates from any stock csv file  
nifty50 = pd.concat([nifty50,Date],axis = 1)#concatenate dates to the current dataframe
nifty50.set_index('Date',inplace = True) #set dates as index in the current dataframe

In [51]:
nifty50.to_csv("n50_filter1.csv")

In [68]:
df=pd.read_csv("n50_filter1.csv",parse_dates=['Date'],index_col='Date')
d=pd.read_csv('n50_filter1.csv',parse_dates=['Date'],index_col='Date')
d=d.loc["2017-10-31":"2021-10-31"]

In [69]:
def number_of_years(y):        #calculates the number of years of the dataset
  p=y.index[0]                 #date of first row in the dataset (datetime format)
  q=y.index[len(y)-1]          #date of last row in the dataset  (datetime format)
  return ((q-p).days+1)/365    #the difference give the number of total days (not trading days) over the total number of years in the dataset

In [70]:
trading_days=len(d)/number_of_years(d)                       #Trading days per year (automated)
d.reset_index(drop=True, inplace=True)

In [72]:
returns=d.pct_change()
returns.fillna(0,inplace=True)
#getting the returns as percentage change

In [73]:
mean_return=returns.mean()*trading_days

In [75]:
niftyindx = pd.read_csv('nifity50index.csv',usecols=['Adj Close','Date'],parse_dates=['Date'],index_col='Date')
niftyindx = niftyindx.loc["2017-10-31" : "2021-10-31"]
niftyindx.reset_index(drop=True, inplace=True)

In [76]:
niftyindx['Adj Close'].fillna(method='bfill',axis=0,inplace=True)
niftyindx['Adj Close'].fillna(method='ffill',axis=0,inplace=True)

In [77]:
niftyindx_return = niftyindx.pct_change() 
niftyindx_return.fillna(0,inplace=True)
mean_niftyindx_return=niftyindx_return.mean()[0]*trading_days        #getting the annual mean returns of nifty50 index

In [79]:
def rempos(x):  #mark positive values as 0 because semideviation only has negative returns
  for i in range(0,len(x)):
    if x['Adj Close'][i]>0:
      x['Adj Close'][i]=0
  return x
def rempo(x):
  for i in range(0,len(x)):
    if x[i]>0:
      x[i]=0
  return x

In [86]:
drisk_niftyindx=rempos(niftyindx_return.copy()).std()[0]*trading_days  
#downside risk i.e., semi-deviation of nifty50 index

In [87]:
risk_free_rate = 0.0346                   #initializing risk free rate that will be used in calculating both the ratios (absolute value)
#referred from url: https://www.rbi.org.in/Scripts/BS_NSDPDisplay.aspx?param=4&Id=24292
#In the above url, the 364 (1 year => 01-01-2021) day treasury bill is 3.46% , when taken absolute value => 0.0346
# (improved)

In [88]:
def ratio(a,b,c):#function to calculate ratio i.e. "(returns-(risk_free_rate))/deviation"
  return (a-c)/b  #a => annual return, c => risk_free_rate, b => deviation (standard for sharpe, semi for sortino)

In [89]:
sortino_niftyindx=ratio(mean_niftyindx_return,drisk_niftyindx,risk_free_rate)      #getting the sortino ratio of nifty50 index

## Filter 2
### Nifty50 index Sortino ratio is compared with each assets sortino ratio
### if asset's srotino ratio is less than nifty index sortino ratio the asset is dropped

In [90]:
for i in returns.columns.to_list(): #for every remaining stock in the data
  ret=returns[i].mean()*trading_days  #get the annual mean return
  drisk=rempo(returns[i].copy()).std()*trading_days #get the semideviation
  sortino=ratio(ret,drisk,risk_free_rate)   #get the sortiono ratio
  if sortino < sortino_niftyindx:  #compare it with nifty50 index's sortino ratio
    returns.drop(labels=[i],axis=1,inplace=True)    #if less, drop it
    d.drop(labels=[i],axis=1,inplace=True)
    df.drop(labels=[i],axis=1,inplace=True)

In [91]:
d

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,DIVISLAB,DRREDDY,HCLTECH,HDFCBANK,HINDUNILVR,ICICIBANK,INFY,JSWSTEEL,KOTAKBANK,NESTLEIND,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,WIPRO
0,1149.532715,1787.362427,5003.239746,856.595703,2329.471680,402.643463,887.138550,1161.969360,293.167053,414.998566,235.643234,1023.466858,6722.716309,914.812805,1214.886353,219.488174,612.093689,427.230255,620.495850,217.829819
1,1144.762329,1793.467285,5015.472656,896.537842,2258.527100,396.441986,893.368408,1188.952271,306.159760,417.339508,241.387268,1022.767883,6795.803711,926.189026,1205.094238,220.310242,615.137695,432.946747,622.644714,217.459427
2,1147.147583,1796.891968,4975.079590,1041.406860,2313.402344,404.576996,893.809875,1173.358154,309.334686,415.471252,242.709351,1017.975281,6768.081543,920.403625,1215.881836,218.907913,614.094116,414.733795,639.933655,217.237183
3,1141.355469,1823.445312,5025.458008,1018.936401,2320.789795,399.507294,898.028442,1171.467896,308.601990,417.159424,243.074020,1013.931580,6884.724609,919.139648,1213.080566,217.892426,616.529236,410.745575,644.426758,218.200226
4,1131.523315,1808.605103,5002.491211,1018.257019,2295.030273,398.516998,896.998352,1172.507324,308.797394,418.082245,244.350494,1008.190491,7052.815430,906.693787,1234.123901,226.983368,614.702820,408.086700,765.497925,222.126404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,2914.608398,7646.649902,18087.150391,4995.950195,4676.149902,1165.400024,1657.000000,2440.850098,841.700012,1692.550049,674.250000,2154.500000,18586.250000,2601.800049,3492.949951,788.950012,1293.300049,1509.080688,2379.149902,667.700012
982,2966.297363,7855.649902,18353.349609,5018.899902,4666.200195,1166.800049,1652.750000,2436.850098,829.400024,1703.699951,694.349976,2210.949951,19217.599609,2661.050049,3482.600098,808.900024,1343.650024,1547.894531,2454.750000,668.150024
983,3091.000000,7482.149902,18012.000000,5149.350098,4662.700195,1177.150024,1642.800049,2396.600098,835.000000,1728.949951,684.900024,2188.250000,19004.599609,2627.399902,3489.750000,818.750000,1326.150024,1552.399658,2460.100098,671.099976
984,3116.300049,7484.250000,17987.699219,5121.149902,4569.950195,1152.000000,1593.599976,2389.649902,798.700012,1703.900024,667.450012,2098.500000,18991.400391,2598.600098,3421.649902,809.700012,1299.599976,1518.190186,2375.149902,656.900024
985,3100.100098,7400.200195,17821.150391,5150.149902,4659.200195,1143.750000,1582.849976,2393.149902,802.049988,1667.750000,669.150024,2031.150024,19000.150391,2536.250000,3397.750000,809.500000,1315.949951,1463.286499,2383.550049,646.750000

In [92]:
df

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,DIVISLAB,DRREDDY,HCLTECH,HDFCBANK,HINDUNILVR,ICICIBANK,INFY,JSWSTEEL,KOTAKBANK,NESTLEIND,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,WIPRO
Date,,,,,,,,,,,,,,,,,,,,
2017-10-31,1149.532715,1787.362427,5003.239746,856.595703,2329.471680,402.643463,887.138550,1161.969360,293.167053,414.998566,235.643234,1023.466858,6722.716309,914.812805,1214.886353,219.488174,612.093689,427.230255,620.495850,217.829819
2017-11-01,1144.762329,1793.467285,5015.472656,896.537842,2258.527100,396.441986,893.368408,1188.952271,306.159760,417.339508,241.387268,1022.767883,6795.803711,926.189026,1205.094238,220.310242,615.137695,432.946747,622.644714,217.459427
2017-11-02,1147.147583,1796.891968,4975.079590,1041.406860,2313.402344,404.576996,893.809875,1173.358154,309.334686,415.471252,242.709351,1017.975281,6768.081543,920.403625,1215.881836,218.907913,614.094116,414.733795,639.933655,217.237183
2017-11-03,1141.355469,1823.445312,5025.458008,1018.936401,2320.789795,399.507294,898.028442,1171.467896,308.601990,417.159424,243.074020,1013.931580,6884.724609,919.139648,1213.080566,217.892426,616.529236,410.745575,644.426758,218.200226
2017-11-06,1131.523315,1808.605103,5002.491211,1018.257019,2295.030273,398.516998,896.998352,1172.507324,308.797394,418.082245,244.350494,1008.190491,7052.815430,906.693787,1234.123901,226.983368,614.702820,408.086700,765.497925,222.126404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-25,2914.608398,7646.649902,18087.150391,4995.950195,4676.149902,1165.400024,1657.000000,2440.850098,841.700012,1692.550049,674.250000,2154.500000,18586.250000,2601.800049,3492.949951,788.950012,1293.300049,1509.080688,2379.149902,667.700012
2021-10-26,2966.297363,7855.649902,18353.349609,5018.899902,4666.200195,1166.800049,1652.750000,2436.850098,829.400024,1703.699951,694.349976,2210.949951,19217.599609,2661.050049,3482.600098,808.900024,1343.650024,1547.894531,2454.750000,668.150024
2021-10-27,3091.000000,7482.149902,18012.000000,5149.350098,4662.700195,1177.150024,1642.800049,2396.600098,835.000000,1728.949951,684.900024,2188.250000,19004.599609,2627.399902,3489.750000,818.750000,1326.150024,1552.399658,2460.100098,671.099976
2021-10-28,3116.300049,7484.250000,17987.699219,5121.149902,4569.950195,1152.000000,1593.599976,2389.649902,798.700012,1703.900024,667.450012,2098.500000,18991.400391,2598.600098,3421.649902,809.700012,1299.599976,1518.190186,2375.149902,656.900024
2021-10-29,3100.100098,7400.200195,17821.150391,5150.149902,4659.200195,1143.750000,1582.849976,2393.149902,802.049988,1667.750000,669.150024,2031.150024,19000.150391,2536.250000,3397.750000,809.500000,1315.949951,1463.286499,2383.550049,646.750000

In [94]:
df.to_csv("n50_filtered.csv")