In [1]:
import pandas as pd
import numpy as np
from datetime import date,timedelta

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

# Change the dates here carefully

In [3]:
start_date = date(2020,12,31)
#date in Year, Month, Day
end_date = date(2021,1,5)

In [4]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [5]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [6]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close","Date"],index_col="Date")
    nifty50 = pd.concat([nifty50,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [8]:
nifty50.columns=nifty_50_stocks

In [9]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,2747.637451,5286.657715,8904.190430,3505.115967,3826.215332,925.379639,911.391113,1430.110474,238.897308,2363.666748,...,18183.132812,131.722580,1978.933960,2826.811279,586.500854,629.561462,938.412415,1563.399536,5262.469727,384.757141
2021-01-01,2758.620117,5271.631836,8868.299805,3496.736084,3833.336182,930.914917,915.581238,1418.909058,236.712418,2355.920898,...,18242.900391,131.479736,1981.126831,2891.489014,598.033997,629.023438,942.992554,1554.869995,5265.106934,386.600006
2021-01-04,2736.903320,5207.785156,8896.592773,3482.132812,3846.482422,961.882263,944.382874,1409.897949,252.552826,2394.354492,...,18170.970703,130.751236,1984.466064,3001.293213,600.519592,677.831238,966.134705,1547.188477,5301.330566,394.867889

In [10]:
nifty50_open=pd.DataFrame()
nifty50_open

Empty DataFrame
Columns: []
Index: []

In [11]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Open","Date"],index_col="Date")
    nifty50_open = pd.concat([nifty50_open,x],axis = 1)                                                       
#getting each stock data one by one and concatanating it into the 'allData' frame

In [12]:
nifty50_open.columns=nifty_50_stocks

In [13]:
nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,2734.399902,5335.000000,8949.0,3580.649902,3787.0,939.799988,939.049988,1435.0,236.399994,2396.000000,...,18278.050781,142.875031,1993.500000,2900.0,597.450012,636.549988,981.950012,1549.000000,5374.000000,381.200012
2021-01-01,2759.000000,5310.200195,8930.0,3575.000000,3839.0,924.500000,942.000000,1440.0,239.000000,2395.399902,...,18389.699219,141.750031,1988.000000,2880.0,593.000000,645.000000,976.000000,1562.099976,5316.899902,385.049988
2021-01-04,2781.100098,5324.000000,8940.0,3589.000000,3853.0,937.150024,959.000000,1438.0,240.899994,2405.000000,...,18495.000000,142.500031,1995.099976,2950.0,606.950012,649.000000,980.599976,1566.000000,5306.950195,390.000000

In [14]:
nifty50-nifty50_open

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,13.237549,-48.342285,-44.809570,-75.533936,39.215332,-14.420349,-27.658875,-4.889526,2.497314,-32.333252,...,-94.917969,-11.152451,-14.566040,-73.188721,-10.949158,-6.988525,-43.537598,14.399536,-111.530273,3.557129
2021-01-01,-0.379883,-38.568359,-61.700195,-78.263916,-5.663818,6.414917,-26.418762,-21.090942,-2.287582,-39.479004,...,-146.798828,-10.270294,-6.873169,11.489014,5.033997,-15.976562,-33.007446,-7.229980,-51.792969,1.550018
2021-01-04,-44.196777,-116.214844,-43.407227,-106.867188,-6.517578,24.732239,-14.617126,-28.102051,11.652832,-10.645508,...,-324.029297,-11.748795,-10.633911,51.293213,-6.430420,28.831238,-14.465271,-18.811523,-5.619629,4.867889

In [15]:
nifty50_final=(nifty50-nifty50_open)/nifty50_open

In [16]:
nifty50_final

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,0.004841,-0.009061,-0.005007,-0.021095,0.010355,-0.015344,-0.029454,-0.003407,0.010564,-0.013495,...,-0.005193,-0.078057,-0.007307,-0.025237,-0.018326,-0.010979,-0.044338,0.009296,-0.020754,0.009331
2021-01-01,-0.000138,-0.007263,-0.006909,-0.021892,-0.001475,0.006939,-0.028045,-0.014646,-0.009571,-0.016481,...,-0.007983,-0.072454,-0.003457,0.003989,0.008489,-0.024770,-0.033819,-0.004628,-0.009741,0.004025
2021-01-04,-0.015892,-0.021828,-0.004855,-0.029776,-0.001692,0.026391,-0.015242,-0.019542,0.048372,-0.004426,...,-0.017520,-0.082448,-0.005330,0.017388,-0.010595,0.044424,-0.014751,-0.012012,-0.001059,0.012482

In [17]:
nifty50_final.to_csv(str(end_date - timedelta(days=1))+'_B.csv')  #saving the data without preprocessing